In [12]:
from __future__ import annotations

from pathlib import Path

import pandas as pd

from wufam.dataset import Dataset

PATH = Path("../data/kf_data")
START = "1970-01-01"
END = "2024-12-31"
DATASET = Dataset.BM_6

In [29]:
factors_df = pd.read_csv(
    PATH / DATASET,
    skiprows=26_045,
    skipfooter=104_126-52_070,
    index_col=0,
    engine="python"
)
factors_df.index = pd.to_datetime(factors_df.index, format="%Y%m%d")
factors_df = factors_df.loc[START:END]
factors_df = factors_df / 100
factors_df.head()

            SMALL LoBM  ME1 BM2  SMALL HiBM  BIG LoBM  ME2 BM2  BIG HiBM
1970-01-02      0.0459   0.0395      0.0334    0.0107   0.0152    0.0246
1970-01-05      0.0260   0.0222      0.0240    0.0026   0.0077    0.0123
1970-01-06     -0.0076  -0.0038     -0.0009   -0.0090  -0.0077   -0.0065
1970-01-07      0.0054   0.0055      0.0037   -0.0008  -0.0027   -0.0025
1970-01-08      0.0051   0.0062      0.0027    0.0001  -0.0002   -0.0017